.active {
  color: #1890ff !important;
  text-decoration: underline;
}
.ant-progress-circle.ant-progress-status-success .ant-progress-text {
  color: rgb(113, 108, 108) !important;
  font-size: 45px !important;
  font-weight: 700;
  font-family: sans-serif;
}
.ProseMirror {
  min-height: 500px;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  padding: 15px 25px;
}

.ant-upload-list-item-card-actions {
  display: none;
}

.ant-upload-drag {
  height: 150px !important;
}
.body {
  overflow: hidden;
}
